<div class="container-modal p-2">
  <div class="d-flex gap-3">
    <img class="img-modal-character" src="assets/img/personaje.jpg" alt="" />
    <div class="d-flex flex-column w-100">
      <h2>GladysAbanto</h2>
      <div class="row bg-ligth">
        <div class="col">
          <h5>Altura</h5>
          <span>1.56</span>
        </div>
        <div class="col">
          <h5>Masa</h5>
          <span>56.5</span>
        </div>
        <div class="col">
          <button class="btn btn-primary">Ver más</button>
        </div>
      </div>
    </div>
  </div>
</div>
