<div class="container p-5">
  <div class="row">
    <img class="img-characters" src="assets/img/personaje.jpg" alt="" />
    <h2 class="text-center my-4 text-primary">Gladys</h2>
    <div class="row text-center bg-light py-2">
      <div class="col">
        <h4>Altura</h4>
        <span>1.60 cm</span>
      </div>
      <div class="col">
        <h4>Masa</h4>
        <span>80 kg</span>
      </div>
    </div>
  </div>
  <div class="row text-center">
    <h3 class="my-4">Películas en las que participó</h3>
    <ul>
      <li>Peli 1</li>
      <li>Peli 2</li>
    </ul>
  </div>
</div>
